._3d{
    width: 200px;
    height: 300px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform 0.05s linear;
    transition: .2s;

    &:hover{
        transform: scale(1.1);
        h2{
            transform: scale(1.5);
        }
    }

    &_card{
        height: 100%;
        width: 100%;
        border-radius: 15px;

        &:before{
            content: '';
            background: #000000;
            background: linear-gradient(0deg, #000000 0%, transparent 100%);
            height: 100%;
            width: 100%;
            background-size: cover;
            position: absolute;
            z-index: 0;
            border-radius: 10px;
        }

        &:after{
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -40px;
            top: -20px;
            width: 100%;
            height: 85%;
            z-index: -1;
            filter: blur(70px);
        }

        h2{
            color: white;
            position: absolute;
            bottom: 40px;
            right: -10px;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: uppercase;
            transition: .2s;
        }
    }
}