@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.titre{
    font-family: 'Megrim', cursive;
    font-size: 70px;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 5%;
    padding-top: 5%;
    color: orange;
    text-shadow: 2px 2px 0px cornflowerblue, 4px 4px 0px green, 4px 4px 6px yellow;
}