$bg: #242526;
$bg-accent: #484a4d;
$text-color: #dadce1;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 0.5s;

// a{
//     color: $text-color;
// }

.navbar {
    height: $nav-size;
    background-color: $bg;
    padding: 0 1rem;
    border-bottom: $border;

    .navbar_nav {
        max-width: 100%;
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }
}

.nav_item{
    width: calc(#{$nav-size} * 2.1);
    display: flex;

    .item {
        margin: auto;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
    }

    .navActive {
        color: orangered!important;
    }
}