.nav {
    height: 50px;
    width: 100%;
    display: flex;

    .ul {
        width: 50%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        justify-content: space-evenly;
        list-style-type: none;
        display: flex;
        
        .li {
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
        }

        .navActive {
            color: orangered!important;
        }
    }
}
