.nav {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: gainsboro;
}

.navActive {
    color: orangered;
}

.ul {
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
}

.li {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    text-decoration: underline gainsboro;
}