.reseau_sociaux{
    position: absolute;
    right: 3%;
    width: 50px;
    display: flex;
    flex-direction: row-reverse;
    top: 0;

    div{
        display: flex;
        flex-direction: column;
    }
}